extends layout 

block content 
  h1 #{title}
 
  p Math.atan() is applied to #{number1} is #{atan}
  p Math.exp() is applied to #{number2} is #{exp}
  p Math.expm1() is applied to #{number3} is #{expm1}